.card {
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 4px 13px -3px #000000;
    box-shadow: 1px 4px 13px -3px #000000;
    margin: 20px 0px;
}