.container {
    display: flex;
    flex-direction: column;
}

.heading-container {
    display: flex;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}