.component-scope .content-container {
  height: 410px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.component-scope .content-card {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-basis: 450px;
  flex-grow: 1;
  flex-shrink: 1;
  background-size: cover;
}

.component-scope .caption {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  height: 100px;
  background-color: white;
  flex-wrap: wrap;
  border-bottom: none;
  font-family: 'Roboto';
}

.component-scope .caption h3 {
  opacity: 0.5;
  padding: 0;
  margin: 0;
  font-size: 3rem;
}
.component-scope .caption p {
  opacity: 0.75;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}
